/* Colors 

text = #0E0901
background = #fdfcf9
primary = #1C6EF2
secondary = #FAD9A3
accent = #09439F

font-family: 'Nunito Sans', sans-serif;

*/

/* general */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdfcf9;
}

p,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Nunito Sans', sans-serif;
    color: #0E0901;
}

p {
    font-size: 15px;
}

h1{
    font-size: 25px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

/* Header */

header {
    background-color: #1C6EF2 ;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

header button {
    padding: 5px;
    background-color: transparent;
    border: none;
    margin: 0 5px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

header button:hover {
    background-color: #4d8ef8;
    cursor: pointer;
}

header button img {
    height: 25px;
    width: 25px;
}

.tasks-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 65px;
}

.tasks-counter p {
    font-weight: 200;
    margin-left: 5px;
    color: white;
}

/* tasks section */

.tasks-section {
    width: 900px;
    margin: 2rem auto;
}

.tasks,
.tasks h1{
    margin-bottom: 20px;
}

hr {
    border-top-width: 0;
    border-color: #cac9c683;
    margin: 10px 0;
}

.task {
    display: flex;
}

.task div,
.task button {
    margin-right: 10px;
}

.third-row {
    display: flex;
    align-items: center;
}

.third-row img {
    scale: 0.7;
}

.add-task {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    margin: 10px 0;
}

.add-task img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.priority {
    margin-left: 10px;
}

/* add task form */ 

.add-task-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #cac9c6;
    width: 100%;
    margin-top: 20px;
}

.add-task-form input,
.add-task-form select,
.add-task-form button { 
    background-color: transparent;
    border: none;
    margin: 5px;
    font-family: 'Nunito Sans', sans-serif;
    outline: none;
}

.form-third-row select, 
.form-third-row input,
.form-forth-row input,
.form-forth-row button {
    border-radius: 10px;
    border: 1px solid #cac9c6;
    padding: 0px 5px;
    width: fit-content;
    cursor: pointer;
}

.form-forth-row input,
.form-forth-row button {
    padding: 5px 10px;
}

.form-forth-row input {
    background-color: #1C6EF2;
    color: #ffffff;
}

.form-forth-row input:hover {
    background-color: #1450b1;
    transition: 0.3s;
}

.form-forth-row button:hover {
    background-color: #d6d5d3;
    transition: 0.3s;
}