/* Colors 

text = #0E0901
background = #fdfcf9
primary = #1C6EF2
secondary = #FAD9A3
accent = #09439F

font-family: 'Nunito Sans', sans-serif;

*/

/* general */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #fdfcf9;
}

li,
p,
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Nunito Sans', sans-serif;
    color: #0E0901;
    list-style: none;
}

li {
    font-size: 15px;
    padding: 10px 10px 0px;
}

p {
    font-size: 15px;
}

h1{
    font-size: 25px;
}

h2 {
    font-size: 20px;
    font-weight: 500;
}

/* Header */

header {
    background-color: #1C6EF2 ;
    height: 50px;
    display: flex;
    align-items: center;
    padding-left: 25px;
}

header button {
    padding: 5px;
    background-color: transparent;
    border: none;
    margin: 0 5px;
    height: 35px;
    width: 35px;
    border-radius: 5px;
}

header button:hover {
    background-color: #4d8ef8;
    cursor: pointer;
}

header button img {
    height: 25px;
    width: 25px;
}

.tasks-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 65px;
}

.tasks-counter p {
    font-weight: 200;
    margin-left: 5px;
    color: white;
}

/* tasks section */

.tasks-section {
    display: grid;
    grid-template-columns: 1fr 7fr;
    justify-items: center;
    height: 100vh;
    overflow: hidden;
}

.tasks,
.tasks h1{
    margin-bottom: 20px;
}

.tasks {
    width: 80%;
    margin-top: 10px;
}

hr {
    border-top-width: 0;
    border-color: #cac9c683;
    margin-left: 20px;
}

.task {
    display: flex;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
}

.task div,
.task button {
    margin-right: 10px;
}

.task input {
    cursor: pointer;
}

.third-row {
    display: flex;
    align-items: center;
}

.third-row img {
    scale: 0.7;
}

.add-task {
    background-color: transparent;
    border: none;
    cursor: pointer;
    align-items: center;
    margin: 10px 0;
    display: flex;
}

.add-task img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.due-date {
    margin-right: 10px;
}

.edit-img {
    height: 22px;
    margin: 5px 5px auto auto;
    opacity: 0;
    cursor: pointer;
}

.task:hover .edit-img {
    opacity: 1;
    transition: 0.3s;
}

.task:hover {
    background-color: #f7f5f0;
    transition: 0.3s;
}


/* add task form */ 

.add-task-form {
    display: flex;
    flex-direction: column;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid #cac9c6;
    width: 100%;
    margin-top: 20px;
}

.add-task-form input,
.add-task-form select,
.add-task-form button { 
    background-color: transparent;
    border: none;
    margin: 5px;
    font-family: 'Nunito Sans', sans-serif;
    outline: none;
}

.form-third-row select, 
.form-third-row input,
.form-forth-row input,
.form-forth-row button {
    border-radius: 10px;
    border: 1px solid #cac9c6;
    padding: 0px 5px;
    width: fit-content;
    cursor: pointer;
}

.form-forth-row input,
.form-forth-row button {
    padding: 5px 10px;
}

.form-forth-row input {
    background-color: #1C6EF2;
    color: #ffffff;
}

.form-forth-row input:hover {
    background-color: #1450b1;
    transition: 0.3s;
}

.form-forth-row button:hover {
    background-color: #d6d5d3;
    transition: 0.3s;
}

/* add project form */

.add-project-Form {
    width: 100%;
    display: none;
    padding-bottom: 10px;
    background-color: #e2e1de;
}

.add-project-Form form {
    border-radius: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.add-project-Form form div{
    display: flex;
    width: 90%;
}
                            
.add-project-input {
    background-color: transparent;
    border: none;
    width: 90%;
    margin: 10px auto;
    font-family: 'Nunito Sans', sans-serif;
    outline: none;
}

.add-project-submit {
    background-color: #1C6EF2;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    color: white;
    font-family: 'Nunito Sans', sans-serif;
    margin-left: 10px;
}

.add-project-cancel {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Nunito Sans', sans-serif;
    border: 1px solid #cac9c6;
    margin-left: 10px;
}

.add-project-submit:hover {
    background-color: #1450b1;
    transition: 0.3s;
}

.add-project-cancel:hover {
    background-color: #cac9c6;
    transition: 0.3s;
}

/* Side Menu */


.side-menu {
    background-color: #f1f0ed;
    grid-column: 1/1;
    height: 100%;
    width: 250px;
    opacity: 1;
    transition: 0.5s;
}

.side-menu-title {
    font-weight: 600;
    background-color: #e2e1de;
    font-size: 15px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    
}

.side-menu-title img {
    height: 20px;
    cursor: pointer;
}

.side-menu-title img:hover {
    scale: 1.2;
    transition: 0.3s;
}

.side-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.side-menu li img{
    width: 20px;
    height: 20px;
    opacity: 0;
}

.side-menu li:hover img {
    opacity: 0.6;
    transition: 0.3;
}

.side-menu li:hover {
    background-color: #cac9c6;
    cursor: pointer;
    transition: 0.3s;
}



